.error-img{
    background-image: url('https://media.istockphoto.com/id/1411493865/photo/error-in-binary-code.jpg?b=1&s=170667a&w=0&k=20&c=I3Vsa-X2p4pxDWi7fyU5ihgJogtp_6zU2koigItvj3s=');
    background-repeat: no-repeat;
    background-size: cover;
    
}